In [1]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly

In [2]:
engine = create_engine("sqlite:////Users/nathanieldirenzo/Documents/GitHub/NBM_EDA_Student/resources/get_mta/mta_data.db")

In [3]:
engine.table_names()

['mta_data']

In [4]:
df = pd.read_sql('SELECT * FROM mta_data;', engine)
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/18/2021,03:00:00,REGULAR,7672966,2645023
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/18/2021,07:00:00,REGULAR,7672969,2645040
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/18/2021,11:00:00,REGULAR,7672991,2645127
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/18/2021,15:00:00,REGULAR,7673037,2645193
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/18/2021,19:00:00,REGULAR,7673097,2645270

In [5]:
df = df.rename(columns={'C/A': 'control_area', 'UNIT': 'unit', 'SCP': 'subunit_channel_pos', 'STATION':'station', 'LINENAME':'subway_lines', 'DIVISION':'division', 'DATE':'date', 'TIME':'time', 'DESC':'desc', 'ENTRIES':'entries', 'EXITS':'exits'})

In [6]:
df= df.sort_values(by=['control_area', 'unit', 'subunit_channel_pos', 'station', 'date', 'time'])

In [7]:
df['date_time'] = df.date + ' ' + df.time

In [8]:
df.head()

,control_area,unit,subunit_channel_pos,station,subway_lines,division,date,time,desc,entries,exits,date_time
10687001,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2021,03:00:00,REGULAR,7511448,2558786,01/01/2021 03:00:00
10687002,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2021,07:00:00,REGULAR,7511451,2558789,01/01/2021 07:00:00
10687003,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2021,11:00:00,REGULAR,7511461,2558813,01/01/2021 11:00:00
10687004,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2021,15:00:00,REGULAR,7511495,2558831,01/01/2021 15:00:00
10687005,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2021,19:00:00,REGULAR,7511620,2558857,01/01/2021 19:00:00

In [9]:
df['net_entries'] = df.entries.diff()
df['net_exits'] = df.exits.diff()
df['net_traffic'] = df.entries.diff() + df.exits.diff()

In [10]:
df.head()

,control_area,unit,subunit_channel_pos,station,subway_lines,division,date,time,desc,entries,exits,date_time,net_entries,net_exits,net_traffic
10687001,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2021,03:00:00,REGULAR,7511448,2558786,01/01/2021 03:00:00,NaN,NaN,NaN
10687002,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2021,07:00:00,REGULAR,7511451,2558789,01/01/2021 07:00:00,3.0,3.0,6.0
10687003,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2021,11:00:00,REGULAR,7511461,2558813,01/01/2021 11:00:00,10.0,24.0,34.0
10687004,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2021,15:00:00,REGULAR,7511495,2558831,01/01/2021 15:00:00,34.0,18.0,52.0
10687005,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2021,19:00:00,REGULAR,7511620,2558857,01/01/2021 19:00:00,125.0,26.0,151.0

In [11]:
df.date = pd.to_datetime(df['date'])

In [12]:
df.time = pd.to_datetime(df['time'])

In [13]:
df.date_time = pd.to_datetime(df['date_time'])

In [14]:
df['audit_length_hours'] = df.date_time.diff() / pd.Timedelta(hours=1)

In [15]:
df.head()

,control_area,unit,subunit_channel_pos,station,subway_lines,division,date,time,desc,entries,exits,date_time,net_entries,net_exits,net_traffic,audit_length_hours
10687001,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 03:00:00,REGULAR,7511448,2558786,2021-01-01 03:00:00,NaN,NaN,NaN,NaN
10687002,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 07:00:00,REGULAR,7511451,2558789,2021-01-01 07:00:00,3.0,3.0,6.0,4.0
10687003,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 11:00:00,REGULAR,7511461,2558813,2021-01-01 11:00:00,10.0,24.0,34.0,4.0
10687004,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 15:00:00,REGULAR,7511495,2558831,2021-01-01 15:00:00,34.0,18.0,52.0,4.0
10687005,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 19:00:00,REGULAR,7511620,2558857,2021-01-01 19:00:00,125.0,26.0,151.0,4.0

In [16]:
df['avg_hourly_entries'] = df['net_entries'] / df['audit_length_hours']
df['avg_hourly_exits'] = df['net_exits'] / df['audit_length_hours']
df['avg_hourly_traffic'] = df['net_traffic'] / df['audit_length_hours']

In [17]:
df.head()

,control_area,unit,subunit_channel_pos,station,subway_lines,division,date,time,desc,entries,exits,date_time,net_entries,net_exits,net_traffic,audit_length_hours,avg_hourly_entries,avg_hourly_exits,avg_hourly_traffic
10687001,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 03:00:00,REGULAR,7511448,2558786,2021-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10687002,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 07:00:00,REGULAR,7511451,2558789,2021-01-01 07:00:00,3.0,3.0,6.0,4.0,0.75,0.75,1.50
10687003,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 11:00:00,REGULAR,7511461,2558813,2021-01-01 11:00:00,10.0,24.0,34.0,4.0,2.50,6.00,8.50
10687004,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 15:00:00,REGULAR,7511495,2558831,2021-01-01 15:00:00,34.0,18.0,52.0,4.0,8.50,4.50,13.00
10687005,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 19:00:00,REGULAR,7511620,2558857,2021-01-01 19:00:00,125.0,26.0,151.0,4.0,31.25,6.50,37.75

In [18]:
df['pct_change_entries'] = df['net_entries'].pct_change() * 100
df['pct_change_exits'] = df['net_exits'].pct_change() * 100
df['pct_change_traffic'] = df['net_traffic'].pct_change() * 100

In [19]:
df.head()

,control_area,unit,subunit_channel_pos,station,subway_lines,division,date,time,desc,entries,...,net_entries,net_exits,net_traffic,audit_length_hours,avg_hourly_entries,avg_hourly_exits,avg_hourly_traffic,pct_change_entries,pct_change_exits,pct_change_traffic
10687001,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 03:00:00,REGULAR,7511448,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10687002,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 07:00:00,REGULAR,7511451,...,3.0,3.0,6.0,4.0,0.75,0.75,1.50,NaN,NaN,NaN
10687003,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 11:00:00,REGULAR,7511461,...,10.0,24.0,34.0,4.0,2.50,6.00,8.50,233.333333,700.000000,466.666667
10687004,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 15:00:00,REGULAR,7511495,...,34.0,18.0,52.0,4.0,8.50,4.50,13.00,240.000000,-25.000000,52.941176
10687005,A002,R051,02-00-00,59 ST,NQR456W,BMT,2021-01-01,2022-01-04 19:00:00,REGULAR,7511620,...,125.0,26.0,151.0,4.0,31.25,6.50,37.75,267.647059,44.444444,190.384615

In [20]:
df['turnstile'] = df.subunit_channel_pos

In [21]:
df = df.drop(labels=['control_area', 'unit', 'subunit_channel_pos', 'division', 'date', 'time', 'desc', 'entries', 'exits'],axis=1)

In [22]:
cols = df.columns.tolist()

In [23]:
cols

['station',
 'subway_lines',
 'date_time',
 'net_entries',
 'net_exits',
 'net_traffic',
 'audit_length_hours',
 'avg_hourly_entries',
 'avg_hourly_exits',
 'avg_hourly_traffic',
 'pct_change_entries',
 'pct_change_exits',
 'pct_change_traffic',
 'turnstile']

In [24]:
cols = ['turnstile', 'station',
 'subway_lines',
 'date_time',
 'net_entries',
 'net_exits',
 'net_traffic',
 'audit_length_hours',
 'avg_hourly_entries',
 'avg_hourly_exits',
 'avg_hourly_traffic',
 'pct_change_entries',
 'pct_change_exits',
 'pct_change_traffic']

In [25]:
cols

['turnstile',
 'station',
 'subway_lines',
 'date_time',
 'net_entries',
 'net_exits',
 'net_traffic',
 'audit_length_hours',
 'avg_hourly_entries',
 'avg_hourly_exits',
 'avg_hourly_traffic',
 'pct_change_entries',
 'pct_change_exits',
 'pct_change_traffic']

In [26]:
df = df[cols]

In [27]:
df_59 = df[df["station"] == '59 ST'].reset_index()

In [32]:
df_59

,index,turnstile,station,subway_lines,date_time,net_entries,net_exits,net_traffic,audit_length_hours,avg_hourly_entries,avg_hourly_exits,avg_hourly_traffic,pct_change_entries,pct_change_exits,pct_change_traffic
0,10687001,02-00-00,59 ST,NQR456W,2021-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10687002,02-00-00,59 ST,NQR456W,2021-01-01 07:00:00,3.0,3.0,6.0,4.000000,0.750000,0.750000,1.500000,NaN,NaN,NaN
2,10687003,02-00-00,59 ST,NQR456W,2021-01-01 11:00:00,10.0,24.0,34.0,4.000000,2.500000,6.000000,8.500000,233.333333,700.000000,466.666667
3,10687004,02-00-00,59 ST,NQR456W,2021-01-01 15:00:00,34.0,18.0,52.0,4.000000,8.500000,4.500000,13.000000,240.000000,-25.000000,52.941176
4,10687005,02-00-00,59 ST,NQR456W,2021-01-01 19:00:00,125.0,26.0,151.0,4.000000,31.250000,6.500000,37.750000,267.647059,44.444444,190.384615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122296,10853940,01-06-01,59 ST,456NQRW,2020-12-31 09:20:25,1.0,0.0,1.0,0.190278,5.255474,0.000000,5.255474,inf,NaN,inf
122297,10853941,01-06-01,59 ST,456NQRW,2020-12-31 11:00:00,6.0,8.0,14.0,1.659722,3.615063,4.820084,8.435146,500.000000,inf,1300.000000
122298,10853942,01-06-01,59 ST,456NQRW,2020-12-31 15:00:00,25.0,37.0,62.0,4.000000,6.250000,9.250000,15.500000,316.666667,362.500000,342.857143
122299,10853943,01-06-01,59 ST,456NQRW,2020-12-31 19:00:00,28.0,38.0,66.0,4.000000,7.000000,9.500000,16.500000,12.000000,2.702703,6.451613
122300,10853944,01-06-01,59 ST,456NQRW,2020-12-31 23:00:00,3.0,11.0,14.0,4.000000,0.750000,2.750000,3.500000,-89.285714,-71.052632,-78.787879